.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: #d5e1ef;
  display: flex;
}
html {
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1.563rem 1.563rem rgba(0, 0, 0, 0.0476518);
  border-radius: 1.25rem;
  padding: 1rem;
  padding-bottom: 2.5rem;
}

.qr-code {
  position: relative;
  width: 288px;
  height: 288px;
  border-radius: 0.625rem;
}
.qr-code-text {
  width: 288px;
  height: 129px;
  padding-top: 1rem;
}
.qr-code-text h1 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #1F314F;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.qr-code-text p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;
  color: #7D889E;
  margin: 0 1rem 0 1rem;
  padding: 0 1rem 0 1rem;
}
